
/* src/components/register/Register.css */


.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
  }
  
  
  label {
    margin-top: 5px;
  }
  
  
  input, select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
 
  .register-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  .error-message {
    color: red;
  }
  
  .gender-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }

  .register-logo-image {
    width: 400px;
    border-radius: 10px;
  }

  .register-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .gender-radio{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
  }

  @media screen and (max-width: 768px) {
    .register-logo-image {
      width: 100%;
      height: 200px;
   
    }

    .register-right-side {
      margin-top: 300px; 
    }
  }