/* src/components/NavBar.component.css */

nav {
  background-color: #88C544;
  padding: 15px;
  color: white;
}

.nav-elements {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.active{
  border-bottom: 2px solid white;
  margin-left: 10px;
 }

button {
  font-size: 15px;
  border: 2px solid white;
}

.logout-button {
  margin-left: auto;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #7AB644;
  background-color: #7AB644;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.user-info{
  margin-left: 10px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .nav-elements {
flex-direction: column;
justify-content: center;
  }

  .logout-button {
    margin-left: 0;
  }
}