/* src/components/NavBar.component.css */

nav {
  background-color: #88C544;
  padding: 15px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.active{
  border-bottom: 2px solid white;
  margin-left: 10px;
 }

button {
  font-size: 15px;
  border: 2px solid white;
}
/* Set the logout button to the end (right side) */
.logout-button {
  margin-left: auto;
  width: 200px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.user-info{
  margin-left: 10px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
}
